---
title: "Applying Technology To Your Problems"
layout: splash
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/header.jpeg
  actions:
   - label: "Contact Us"
     url: "mailto:chris@ourea.solutions"
excerpt: "We belive that technology can be used to make the world a better place, let's make yours a little better today"

feature_row:
  - image_path: assets/sec.jpeg
    alt: "4 keys in a row, on a board, with tags attached"
    title: "Security Review"
    excerpt: "Security is a moving target. We can look at your use of technology and suggest solutions that limt your risk and protect what matters most"

  - image_path: /assets/backup.jpeg
    alt: "Tape drive with top side removed"
    title: "Backup Service"
    excerpt: "How are your backups? We provide secure offsite backups for highly competative prices."

  - image_path: /assets/dev.jpeg
    alt: "Minified code on a laptop screen"
    title: "Web Development"
    excerpt: "Like what you see? We can provide blazingly fast static pages hosted on Github Pages. Just like our own."

further-info:
  - title: Custom Solutions
    alt: Question Mark
    image_path: /assets/more.jpeg
    excerpt: 'Above are just our most common solutions. From 3D printed parts to custom software soltuions, get in touch and see if our skills fit your need'
    url: "mailto:chris@ourea.solutions"
    btn_label: "Contact Us"
    btn_class: "btn--primary"
---
{% include feature_row %}

{% include feature_row id="further-info" type="left" %}
